<!-- About -->
<div class="flex-box about">
  <h3>About Limitless Bar & Grill</h3>
  <p>
    Being food enthusiasts, our ambition is to serve delicious food for affordable pricing. 
    Our aim is to provide an unpretentious and relaxing atmosphere for our customers and make every moment memorable.
    We are currently working hard to prepare for the opening act of the Limitless story!
  </p>
</div>