<div class="container index-page">
<div class="banner text-center">
  <div>Limitless Bar & Grill</div>
  <div>Opening Winter 2019</div>
</div>
<%# <div class="navi">
  <div class="navi-item">
    home
  </div>
  <div class="navi-item">
    menu
  </div>
  <div class="navi-item">
    about
  </div>
  <div class="navi-item">
    contact
  </div>
  <div class="navi-item">
    career
  </div>
</div> %>
<%# <div class="mobile mobile-view">
  <div class="mobile mobile-one">
  weeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
  </div>
  <div class="mobile mobile-two">
  weeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
  </div>
  <div class="mobile mobile-three">
  weeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
  </div>
  <div class="mobile mobile-four">
  weeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
  </div>
</div> %>
</div>