<!-- Info -->
<% map_url = "https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ9ahKDmovK4gRoYsO8HROSjM&key=#{ENV['GOOGLE_MAP_API_KEY']}" %>

<div class="flex-box">
  <h3>Hours of Operation</h3>
  <div class="availability">
    <div> Monday: 4 PM - 12 AM</div>
    <div> Tuesday: 4 PM - 12 AM</div>
    <div> Wednesday: 4 PM - 12 AM</div>
    <div> Thursday: 4 PM - 12 AM</div>
    <div> Friday: 4 PM - 1 AM</div>
    <div> Saturday: 4 PM - 1 AM</div>
    <div> Sunday: 3 PM - 11 PM</div>
  </div>
  <h3>Location</h3>
  <p>1450 Centre Street, Thornhill, L4J 3N1</p>
  <iframe class="location" frameborder="0" style="border:0" src=<%=map_url%> allowfullscreen></iframe>
</div>