<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Limitless Bar & Grill</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
    crossorigin="anonymous">
  
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Cinzel|Marcellus+SC" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Megrim|Pompiere|Raleway|Special+Elite" rel="stylesheet">
  <script src="https://use.fontawesome.com/25d3b4759d.js"></script>
  <style>
    body {
      background:url("https://images.unsplash.com/photo-1505620391902-46b120671eb6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b3f9f61a46d3de87cf76687f31d4dd52&auto=format&fit=crop&w=1500&q=80") no-repeat center center fixed;
      background-size: cover;
    }

    .billboard {
      background-color: #ffffff;
      opacity: 0.8;
      display:table;
      padding:10px 5em;
      min-width: 300px;
      margin-top: 10%;
      margin-bottom: auto;
      margin-left: auto;
      margin-right: auto;
      border-radius:10px;
      font-family: "Marcellus SC", cursive;
    }

    .message {
      padding:30px;
      font-size: 30px;
      text-color: #ffffff;
      font-family: "Fredericka the Great", cursive;
    }

    .flexbox {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;
      margin-bottom: 2em;
    }

    .btn-media {
      background-color:#384456;
      margin: 0.25em 0.25em;
      width: 2em;
      height: 2em;
      display: flex;
      align-items: center;
      justify-content: center;
      color:#ffffff;
    }
    a {
      font-weight:800;
    }
    .reg-font {
      font-family: helvetica;
    }
    .navbar {
      display: none;
    }
  </style>
</head>
<body>
  <div class="block text-center billboard">
    <div class="row text-center">
      <div class="col-md-12">
        <h1>
          <strong>Limitless Bar & Grill</strong>
        </h1>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 message">
        Opening soon in the GTA
      </div>
    </div>
    <div class="row text-center flexbox">
      <a class="btn btn-media text-center" id="twitter" title="Share on Facebook!" target="_blank">
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </a>
      <a class="btn btn-media text-center" id="twitter" title="Share as tweet!" target="_blank">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
      <a class="btn btn-media text-center" id="twitter" title="Visit our Instagram!" target="_blank">
        <i class="fa fa-instagram" aria-hidden="true"></i>
      </a>
    </div>
    <div>
      <p>For more information, contact us at </p><a href="#" class="reg-font">limitlessbng@gmail.com</a>
    </div>
  </div>
</body>

</html>