// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }

.navbar-main {
  background-color: #000;
  position: fixed;
  top: 0;
  z-index: 1030;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .navbar-limitless {
    margin-top: 10px;
    height: 120px;
    @media (max-width: 767px) {
      height: 80px;
    }
    @media (max-width: 500px) {
      height: 50px;
    }
  }
}

.navbar-list {
  background-color: #000;
  flex-direction: row;
  justify-content: space-around;
  display: flex;
  height: 50px;
  margin-bottom: 1em;
  .navbar-link {
    a {
      color: #fff;
    }
    margin: 1em;
  }
  border-bottom: 3px double #fff;
}
// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  // background-color: #eee;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 180px; // accommodate the navbar
  margin-bottom: 30px;
  @media(max-width: 767px) {
    margin-top: 160px;
  }
  @media(max-width: 500px) {
    margin-top: 140px;
  }
  }
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8em;
  }
section {
  @extend .row;
  margin-top: 20px;
  }
