// Place all the styles related to the MenuItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
  font-family: 'orange juice 2.0';
  src:url('orange juice 2.0.eot');
  src:url('orange juice 2.0.eot?#iefix') format('embedded-opentype'),
    url('orange juice 2.0.svg#orange juice 2.0') format('svg'),
    url('orange juice 2.0.woff') format('woff'),
    url('orange juice 2.0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.menu-title {
  text-align: center;
  font-family: "orange juice 2.0";
}

.flex-box {
  display: flex;
  flex-direction: column;
  padding: 1em 20%;
  align-items: center;
  justify-content: space-around;
  .category-box {
    width: 300px;
    text-align: center;
    .menu-item {
      font-size: 1.5em;
    }
  }
}
