// Place all the styles related to the MenuItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: 'Special Elite', cursive;
  background-color: #323232;
  color: #eee;
}

.menu-title {
  text-align: center;
  font-family: 'Special Elite', cursive;
}

.flex-box {
  display: flex;
  flex-direction: column;
  padding: 1em 0;
  align-items: center;
  justify-content: space-around;
  .category-box {
    width: 70%;
    @media (max-width: 767px) {
      width: 100%;
    }
    // text-align: center;
    .item-box {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .menu-item {
        font-size: 1.5em;
      }
    }
  }
}
