<%# add navigation links to this file %>
<div class='navbar-link'><%= link_to 'Menu', menu_items_path %></div>
<div class='navbar-link'><%= link_to 'Info', info_path %></div>
<div class='navbar-link'><%= link_to 'About', about_path %></div>
<div class='navbar-link'><%= link_to 'Contact', contact_path %></div>